<a href="https://colab.research.google.com/github/redcoding72/EDUBlib-Introduction-Sciences-des-donn-e-AI/blob/main/pratique_manipulation_structure_donnees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/pia-fcse-bdeb/Cours-EDUlib/blob/master/module-3/Exercices/pratique_manipulation_structure_donnees.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Pratique Manipulation de la structure de données

## Pratique 1

On dispose de deux fichiers de données, un qui porte sur des films avec trois colonnes: FilmId(unique), titre et genres. Le deuxième sur l'évaluation(rating) des films qui contient trois colonnes: UserID, MoviesID(unique) et Rating

In [1]:
# Importer pandas
import pandas as pd

Ici on vous fournit les lien url pour les fichiers **films.xlsx** et **rating.csv**. En vous aidant des anciens notebooks vu lors de cette formation, complétez les lignes de code afin de procéder au chargement des données. 
Mettre le tout dans deux dataframes: **movies** et **rating**

In [36]:
# charger les données contenues dans un fichiers excel ou csv se trouvant sur drive
URL_films   = 'https://docs.google.com/spreadsheets/d/15mxFMzmEZpS0a-qa0b-ZD-kDmdY2egTH/edit?usp=sharing&ouid=109066890121411090393&rtpof=true&sd=true'
movies_file =  'https://drive.google.com/uc?export=download&id='+URL_films.split('/')[-2]

URL_rating  = 'https://drive.google.com/file/d/1y5qOtma-TmwIAwVfAz6RDmy50_2r10wf/view?usp=sharing'
rating_file = 'https://drive.google.com/uc?export=download&id='+URL_rating.split('/')[-2]

In [37]:
# charger les fichiers dans deux dataframes: movies et rating
movies = pd.read_excel(movies_file)
rating = pd.read_csv(rating_file, sep=';')

In [38]:
# Afficher les cinq premières lignes de movies
movies.head(5)

,FilmId,Titre,Genres
0,43263,Bio-Dome (1996),Comedy
1,49507,Once Upon a Time... When We Were Colored (1995),Drama
2,46738,White Squall (1996),Adventure|Drama
3,27553,Copycat (1995),Crime|Drama|Thriller
4,40569,Across the Sea of Time (1995),Documentary

In [39]:
# Afficher les cinq premières lignes de rating
rating.head(5)

   UserID  MoviesID  Rating
0    5468     19112       5
1    1837      9607       3
2    1063      3725       5
3     790     23050       4
4    2777      3005       4

### Concaténation

Créer un dataframe contenant les deux premiers en faisant la **concaténation** selon l’axe 1

In [40]:
# concatenation selon l'axe 1
df_concat =pd.concat([movies,rating],axis = 1)

In [41]:
# Afficher le dataframe
df_concat

,FilmId,Titre,Genres,UserID,MoviesID,Rating
0,43263,Bio-Dome (1996),Comedy,5468,19112,5
1,49507,Once Upon a Time... When We Were Colored (1995),Drama,1837,9607,3
2,46738,White Squall (1996),Adventure|Drama,1063,3725,5
3,27553,Copycat (1995),Crime|Drama|Thriller,790,23050,4
4,40569,Across the Sea of Time (1995),Documentary,2777,3005,4
...,...,...,...,...,...,...
95,49997,Nick of Time (1995),Action|Thriller,1182,24288,5
96,15294,Postino Il (The Postman) (1994),Drama|Romance,5394,44055,3
97,41843,In the Bleak Midwinter (1995),Comedy,2190,27352,4
98,41150,Waiting to Exhale (1995),Comedy|Drama,1668,40569,4
99,37759,Dangerous Minds (1995),Drama,4911,49997,4

* Que remarquez-vous? Proposez une alternative

In [42]:
# Alternative
movies2 = movies.set_index("FilmId", drop=False)
rating2 = rating.set_index("MoviesID", drop=False)

In [43]:
# concatenation de movies2 et rating2 selon l'axe 1
df_concat2 = pd.concat([movies2,rating2], axis = 1)

In [44]:
# Afficher le dataframe
df_concat2

,FilmId,Titre,Genres,UserID,MoviesID,Rating
325,325,Confessional The (Le Confessionnal) (1995),Drama|Mystery,5156,325,4
1019,1019,Toy Story (1995),Animation|Children's|Comedy,4169,1019,3
1370,1370,Wings of Courage (1995),Adventure|Romance,4994,1370,4
1864,1864,Heat (1995),Action|Crime|Thriller,424,1864,4
2411,2411,Screamers (1995),Sci-Fi|Thriller,3475,2411,1
...,...,...,...,...,...,...
46738,46738,White Squall (1996),Adventure|Drama,748,46738,3
47222,47222,French Twist (Gazon maudit) (1995),Comedy|Romance,5463,47222,3
48336,48336,Things to Do in Denver when You're Dead (1995),Crime|Drama|Romance,765,48336,3
49507,49507,Once Upon a Time... When We Were Colored (1995),Drama,5269,49507,4
49997,49997,Nick of Time (1995),Action|Thriller,4911,49997,4

### merge

Créer un dataframe contenant les deux premiers en faisant un **merge** des deux dataframes

In [51]:
df_merge =pd.merge(movies,rating, left_on = "FilmId", right_on ="MoviesID")

In [52]:
# Afficher le dataframe
df_merge

,FilmId,Titre,Genres,UserID,MoviesID,Rating
0,43263,Bio-Dome (1996),Comedy,4879,43263,2
1,49507,Once Upon a Time... When We Were Colored (1995),Drama,5269,49507,4
2,46738,White Squall (1996),Adventure|Drama,748,46738,3
3,27553,Copycat (1995),Crime|Drama|Thriller,2693,27553,4
4,40569,Across the Sea of Time (1995),Documentary,1668,40569,4
...,...,...,...,...,...,...
95,49997,Nick of Time (1995),Action|Thriller,4911,49997,4
96,15294,Postino Il (The Postman) (1994),Drama|Romance,3408,15294,2
97,41843,In the Bleak Midwinter (1995),Comedy,5686,41843,2
98,41150,Waiting to Exhale (1995),Comedy|Drama,5491,41150,3
99,37759,Dangerous Minds (1995),Drama,3538,37759,5

## Pratique 2

On dispose de deux fichiers sur des tests physico-chimiques pour des vins rouges et blancs

In [53]:
# Importer pandas
import pandas as pd

Ici on vous fournit les lien url pour les fichiers "vins_blancs.csv" et "vins_rouges.csv". Complétez les lignes de code afin de procéder au chargement des données. 
Mettre le tout dans deux dataframes: vins_rouges et vins_blancs

In [54]:
# charger les données contenues dans un fichiers excel ou csv se trouvant sur drive
URL_vins_rouges  = 'https://drive.google.com/file/d/1Tthug9VrRDVH9aHQhJPmkjdKGCvsSZJt/view?usp=sharing'
vins_rouges_file = 'https://drive.google.com/uc?export=download&id='+URL_vins_rouges.split('/')[-2]

URL_vins_blancs  = 'https://drive.google.com/file/d/16t4CBHsO_MNMxVqZZdJfD3WzfCa4QdoE/view?usp=sharing'
vins_blancs_file = vins_rouges_file = 'https://drive.google.com/uc?export=download&id='+URL_vins_blancs.split('/')[-2]

In [56]:
# charger les fichiers dans deux dataframes: movivins_rougeses et vins_blancs
vins_rouges =  pd.read_csv(vins_rouges_file, sep =";")

vins_blancs = pd.read_csv(vins_blancs_file, sep=';')

In [57]:
# Dans chaque dataframe, créer une colonne pour indiquer le type(couleur) de vin
vins_rouges["type"] = "rouge"
vins_blancs["type"] = "blancs"

In [61]:
# selectionner et ne garder que les colonnes: fixed acidity, citric acid, density et type dans chaque dataframes
vins_rouges = vins_rouges.loc[:,["fixed acidity", "citric acid", "density", "type", "quality"]]
vins_blancs = vins_blancs.loc[:,["fixed acidity", "citric acid", "density", "type", "quality"]]

   fixed acidity  citric acid  density    type  quality
2            8.1         0.40   0.9951  blancs        6
3            7.2         0.32   0.9956  blancs        6
4            7.2         0.32   0.9956  blancs        6
5            8.1         0.40   0.9951  blancs        6
6            6.2         0.16   0.9949  blancs        6
7            7.0         0.36   1.0010  blancs        6
8            6.3         0.34   0.9940  blancs        6
9            8.1         0.43   0.9938  blancs        6

In [67]:
# Faire une concatenation des deux datafrmaes
df =pd.concat([vins_rouges,vins_blancs], ignore_index= True)
df

    fixed acidity  citric acid  density    type  quality
0             8.1         0.40   0.9951   rouge        6
1             7.2         0.32   0.9956   rouge        6
2             7.2         0.32   0.9956   rouge        6
3             8.1         0.40   0.9951   rouge        6
4             6.2         0.16   0.9949   rouge        6
5             7.0         0.36   1.0010   rouge        6
6             6.3         0.34   0.9940   rouge        6
7             8.1         0.43   0.9938   rouge        6
8             8.1         0.40   0.9951  blancs        6
9             7.2         0.32   0.9956  blancs        6
10            7.2         0.32   0.9956  blancs        6
11            8.1         0.40   0.9951  blancs        6
12            6.2         0.16   0.9949  blancs        6
13            7.0         0.36   1.0010  blancs        6
14            6.3         0.34   0.9940  blancs        6
15            8.1         0.43   0.9938  blancs        6

In [68]:
# Effectuer un shuffle des données pour avoir un dataframe aleatoire: random_state=1
df = df.sample(frac= 1, random_state=1).reset_index(drop=True)
df

    fixed acidity  citric acid  density    type  quality
0             8.1         0.40   0.9951   rouge        6
1             7.0         0.36   1.0010  blancs        6
2             8.1         0.43   0.9938   rouge        6
3             7.2         0.32   0.9956   rouge        6
4             6.3         0.34   0.9940   rouge        6
5             7.2         0.32   0.9956  blancs        6
6             6.2         0.16   0.9949   rouge        6
7             7.2         0.32   0.9956   rouge        6
8             6.3         0.34   0.9940  blancs        6
9             8.1         0.40   0.9951   rouge        6
10            8.1         0.43   0.9938  blancs        6
11            7.2         0.32   0.9956  blancs        6
12            8.1         0.40   0.9951  blancs        6
13            6.2         0.16   0.9949  blancs        6
14            8.1         0.40   0.9951  blancs        6
15            7.0         0.36   1.0010   rouge        6